.containerr{
    background-image: url("../../public/AuthBG.png");
    /* background-image: url("../../../public/Landing_Page_Assets/Second\ last\ section.svg"); */
    background-color: #0000; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}